* {
  padding: 0;
  margin: 0;
}
.wrapper {
  position:  relative;
}
.box-wrap {
  display:  flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-wrap > div {
  margin: 5px;
  width: 500px;
  height: 500px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
}

.box-wrap > div.win {
  border-color: green;
}
.box-wrap > div.lose {
  border-color: red;
}


.box-wrap > div .img-box img {
 width: 80%;
}


.button-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-400px);
}

.button-wrap button {
  display: inline-block;
  margin: 5px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50% 50%;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.2s;
}

.button-wrap button:hover {
  background-color: #31364c;
  color: #fff;
}

.result-box {
  position:  absolute;
  left: 50%;
  top : 50%;
  transform: translate(-50%,-300px);
}